.profile
Documents/
Downloads/
.ssh/
bin/
.config/
.bash_history
.bashrc
.local/
.mozilla/
.zsh_history
.Xauthority
.gnome/
.hashcat/
.xsession*
.zcomp*
PycharmProjects/
.cache/
.ICEauthority
.PyCharmCE2019.3/
.dmrc
.java/

